[user]
        name = Nicklas Bekkevold
        email = 44287251+nicklasbekkevold@users.noreply.github.com
[pull]
        rebase = true
[core]
        editor = code --wait
[init]
	defaultBranch = main
